<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yywan.demo"
    android:versionCode="1"
    android:versionName="1" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <!-- 丫丫玩sdk 必须权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <!-- 快捷支付必须的权限 -->
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <!-- 丫丫玩sdk 必须权限 -->


    <!-- 注意:必须有YYapplication..如果自己有application..请继承YYapplication -->
    <application
        android:name="com.yayawan.impl.YYApplication"
        android:allowBackup="true"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        <activity
            android:name="com.yayawan.sdkyyw.MainActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:label="sdkyyw"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 丫丫玩sdk 配置开始 -->


        <!-- BaseLogin_Activity 登录 -->
        <activity
            android:name="com.yayawan.sdk.jflogin.BaseLogin_Activity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent" />
        <!-- 头像上传 -->
        <activity
            android:name="com.yayawan.sdk.jfsmallhelp.CropPhoto_Activity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent" >
        </activity>
        <!-- 发帖 -->
        <activity
            android:name="com.yayawan.sdk.jfsmallhelp.Push_feeling_Activity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize" >
        </activity>

        <!-- alipay sdk begin -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>

        <!-- yayawan_nochangecount设置为true这取消切换账号..除个别特殊游戏外.都不能取消切换账号这个选项 -->

        <meta-data
            android:name="yayawan_nochangecount"
            android:value="false" />
        <meta-data
            android:name="yayawan_game_id"
            android:value="yaya3981646739" />
        <meta-data
            android:name="yayawan_game_key"
            android:value="4c328109f9a7e4dd6c90e98566cccf5d" />
        <meta-data
            android:name="yayawan_game_secret"
            android:value="849cc51976066b1c8c6a21e687137237" />

        <!--
        source_id渠道分包参数 
     	默认 游戏名称的 首字母 拼接起来 加上 01
		如魔龙勇士 就是 mlys01
        -->
        <meta-data
            android:name="yayawan_source_id"
            android:value="91" />
        <meta-data
            android:name="yayawan_version"
            android:value="3.07" />

        <!-- 横屏设置 -->

        <meta-data
            android:name="yayawan_orientation"
            android:value="landscape" />
        <!-- 竖屏设置 -->
        <!--
             <meta-data
            android:name="yayawan_orientation"
            android:value="portrait" />
        -->


        <!-- 支付方式选择,不设置在支付中心会显示该支付方式,设置为false将不出现该支付方式(默认全显示,只需配置不显示的支付方式即可) -->
        <!-- 支付宝 -->
        <meta-data
            android:name="yaya_alipay"
            android:value="true" />
        <!-- 信用卡 -->
        <meta-data
            android:name="yaya_visa"
            android:value="true" />
        <!-- 丫丫币 -->
        <meta-data
            android:name="yaya_yayabi"
            android:value="true" />
        <!-- 储蓄卡 -->
        <meta-data
            android:name="yaya_cash"
            android:value="true" />
        <!-- 移动充值卡 -->
        <meta-data
            android:name="yaya_yidong"
            android:value="true" />
        <!-- 联通充值卡 -->
        <meta-data
            android:name="yaya_liantong"
            android:value="true" />
        <!-- 电信充值卡 -->
        <meta-data
            android:name="yaya_dianxin"
            android:value="true" />
        <!-- 盛大 -->
        <meta-data
            android:name="yaya_shengda"
            android:value="true" />
        <!-- 骏网 -->
        <meta-data
            android:name="yaya_junwang"
            android:value="true" />
        <!-- QQ -->
         <meta-data
            android:name="yaya_qq"
            android:value="true" /> 

        <!-- 丫丫玩sdk 配置结束 -->
        
        
        
    </application>

</manifest>