<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yayawan.sdktemplate"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    
    <!-- GfanSDK permission start -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="org.simalliance.openmobileapi.SMARTCARD" />
    <uses-permission android:name="android.permission.NFC" />
    
    <!-- GfanSDK permission end -->

    <application
        android:name="com.yayawan.impl.YYApplication"
        android:allowBackup="true"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        <activity
            android:name="com.yayawan.sdktemplate.MainActivity"
            android:label="Gfan_SDK"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- GfanSDK activity start -->
        <activity
            android:name="com.mappn.sdk.uc.LoginActivity"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- 启动页 -->
        <activity
            android:name="com.mappn.sdk.init.SplashActivity"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <!-- 邀请码页面 -->
        <activity
            android:name="com.mappn.sdk.init.InviteActivity"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.mappn.sdk.uc.PsdRetrievalActivity"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.mappn.sdk.uc.ChangePsdActivity"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.mappn.sdk.uc.BindPhoneNumActivity"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.mappn.sdk.floatview.NomalQuestionActivity"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- 充值支付页面 -->
        <activity
            android:name="com.mappn.sdk.gfanpay.ChargeActivity"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- 消费页面 -->
        <activity
            android:name="com.mappn.sdk.gfanpay.ConsumeActivity"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.mappn.sdk.floatview.NotificationActivity"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.mappn.sdk.uc.RegisterActivity"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.mappn.sdk.floatview.GiftCenterActivity"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.mappn.sdk.uc.ModfiyActivity"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.mappn.sdk.uc.PersonalCenterActivity"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- 现在支付 -->
        <activity
            android:name="com.ipaynow.plugin.activity.PayMethodActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Dialog" />

        <!-- 微信支付 -->
        <activity
            android:name="com.ipaynow.plugin.inner_plugin.wechatwp.activity.WeChatNotifyActivity"
            android:theme="@android:style/Theme.NoDisplay" />
        <!-- 银联支付 -->
        <activity
            android:name="com.unionpay.uppay.PayActivity"
            android:configChanges="orientation|keyboardHidden"
            android:excludeFromRecents="true"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.mappn.sdk.uc.MyGfanTicket"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- 充值卡支付 -->
        <activity
            android:name="com.mappn.sdk.gfanpay.phoneCard.PhoneCardActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.mappn.sdk.uc.CardsBoxActivity"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.mappn.sdk.uc.RecordsOfConsumptionActivity"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.mappn.sdk.floatview.NotificationDetailActivity"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.mappn.sdk.uc.UnBindPhoneActivity"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- GfanSDK activity end -->
        
      	<!-- 丫丫玩 非必要  Start -->
        <meta-data
            android:name="need_yayaexit"
            android:value="yes" />
        <meta-data
            android:name="need_yayaanim"
            android:value="no" />
		
        <meta-data
            android:name="gfan_cpid"
            android:value="gfan" />
        <meta-data
            android:name="gfan_pay_appkey"
            android:value="489086044"/>
      	<!-- 丫丫玩 非必要   End -->
        
        
        <meta-data
            android:name="yayawan_game_id"
            android:value="yaya3341964872" />
        <meta-data
            android:name="union_id"
            android:value="yaya3734160202" />
        <meta-data
            android:name="isLandscape"
            android:value="true" />
    
    </application>

</manifest>