<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.qmgc.nearme.gamecenter"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" /> 
    <uses-permission android:name="android.permission.SEND_SMS" /> 
    <uses-permission android:name="android.permission.READ_SMS" /> 
    <uses-permission android:name="android.permission.WRITE_SMS" /> 
    <uses-permission android:name="android.permission.RECEIVE_SMS" /> 
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> 
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> 
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> 
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> 
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" /> 
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" /> 
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> 
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" /> 
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/> 
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" /> 
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" /> 
    <uses-permission android:name="android.permission.VIBRATE" /> 
    <uses-permission android:name="android.permission.GET_TASKS" /> 
    <uses-permission android:name="android.permission.GET_ACCOUNTS" /> 
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    

    <application
        android:name="com.yayawan.impl.YYApplication"
        android:allowBackup="true"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        <activity
            android:name="com.yayawan.sdktemplate.MainActivity"
            android:label="Black_SDKname"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
      	
        <!-- ALL SDK START --> 
        <activity 
            android:name="com.nearme.game.sdk.component.proxy.ProxyActivity" 
            android:theme="@style/Theme_Dialog_Custom" 
            android:configChanges="keyboardHidden|orientation|screenSize" 
            android:process=":gcsdk"> 
        </activity> 
        <service 
            android:name="com.nearme.game.sdk.component.proxy.ProxyApiService" 
            android:process=":gcsdk" 
            android:priority="1000"> 
        </service> 
        <!-- UserCenter SDK Register start --> 
        <receiver 
            android:name="com.nearme.game.sdk.component.proxy.ProxyUserCenterOperateReceiver" 
            android:exported="true" 
            android:process=":gcsdk"> 
            <intent-filter> 
                <action android:name="com.oppo.usercenter.account_login" /> 
                <action android:name="com.oppo.usercenter.account_logout" /> 
                <action android:name="com.oppo.usercenter.modify_name" /> 
            </intent-filter> 
        </receiver> 
        <!-- UserCenter SDK Register end --> 
        <!-- ALL SDK END -->
        
        
        <meta-data 
            android:name="appid" 
            android:value="string3246" />
        <meta-data 
            android:name="APPKEY" 
            android:value="6vdHedVq4Ww0cg48koO84s48o" />
        <meta-data 
            android:name="APPSECRET" 
            android:value="7d52Bc692D64e8c74903F9c868f1e924" />
        <meta-data 
            android:name="CallbackUrl" 
            android:value="http://union.yayawan.com/pay/notify/3837941030/3382224689/" />
        
        
        <meta-data
            android:name="need_yayaexit"
            android:value="no" />
        <meta-data
            android:name="need_yayaanim"
            android:value="no" />

        <meta-data
            android:name="yayawan_game_id"
            android:value="yaya3382224689" />
        <meta-data
            android:name="union_id"
            android:value="yaya3837941030" />
        <meta-data
            android:name="isLandscape"
            android:value="true" />
    
    </application>

</manifest>